In [1]:
import pandas as pd

In [2]:
df_fdc = pd.read_excel('./data/raw/FDC_DATA_DSS_반출.xlsx')

동일값으로만 이루어진 열 확인

In [3]:
# 모든 값이 동일한 열과 그 값을 확인하는 함수
def find_constant_columns(df):
    constant_columns = {}
    for col in df.columns:
        if df[col].nunique() == 1:  # 고유한 값이 1개일 때, 즉 동일한 값으로만 이루어졌을 때
            constant_columns[col] = df[col].iloc[0]  # 그 열과 값을 저장
    return constant_columns

# 같은 값으로만 이루어진 열과 값을 출력
constant_columns = find_constant_columns(df_fdc)
print("같은 값으로 이루어진 열과 값:", constant_columns)

# 확인 후 원한다면 다음 코드를 실행해 제거
# cleaned_data = small_data.drop(columns=constant_columns.keys())

같은 값으로 이루어진 열과 값: {}

결측치 확인

In [4]:
# 모든 값이 NaN인 행의 개수를 확인
nan_rows_count = df_fdc.iloc[:,5:].isna().all(axis=1).sum()

print(f"모든 값이 NaN인 행의 개수: {nan_rows_count}")

모든 값이 NaN인 행의 개수: 243

In [5]:
nan_rows=df_fdc.iloc[:,5:].isna().all(axis=1)
df_fdc_remove_missing = df_fdc[~nan_rows]
df_fdc_remove_missing

,ID,EQUIP_ID,DATE_TIME,YVALUE,PASS(1)/FAIL(0),X38_05,X26_09,X30_10,X34_02,X53_02,...,X41_13,X50_13,X53_13,X29_13.1,X46_13,X36_13,X45_13.1,X38_13,X51_13,X34_13
0,ID_1,A,2024-01-01 22:37:51,22,1,0.121411,NaN,409.088888,8.047076,299.983923,...,101.877777,6.926000,299.625444,-346.516666,2.343333,-52640.0,0.208187,11.002221,34.194675,8.101333
1,ID_2,A,2024-01-01 22:42:09,17,1,0.061222,473598.210309,405.624999,7.883037,299.832481,...,101.662500,7.137705,299.731000,-345.600000,2.050588,-52530.0,1.682933,NaN,34.120142,7.915882
2,ID_3,A,2024-01-04 14:56:58,16,1,0.176816,485638.515282,404.300000,7.817357,299.687928,...,101.488888,7.119611,299.145111,-345.600000,2.213333,-52530.0,1.293624,NaN,33.942874,7.911555
3,ID_4,A,2024-01-04 15:05:18,11,1,0.083624,294250.798184,411.833333,7.992666,299.689037,...,101.600000,6.926000,299.145111,345.600000,2.253333,-52640.0,1.878500,10.848367,33.977119,8.106444
4,ID_5,B,2024-01-09 01:53:50,49,0,0.101859,448471.535723,403.200000,7.950222,300.177518,...,103.222222,7.038000,299.256000,344.400000,3.503333,-52800.0,2.747937,10.838689,33.745461,8.043777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302,ID_1303,A,2024-07-20 12:31:35,39,1,0.071052,NaN,414.009999,8.883185,299.919074,...,100.600000,7.019333,299.256000,345.600000,2.340000,-52640.0,0.523473,11.075014,33.838124,9.031333
1303,ID_1304,B,2024-06-18 10:16:45,3,1,0.097651,NaN,407.566666,7.685615,300.068230,...,101.322222,7.038000,299.387944,343.566666,2.913333,-53405.0,2.864315,NaN,32.204434,7.819666
1306,ID_1307,B,2024-06-18 10:30:34,7,1,0.114646,NaN,407.970000,7.767259,300.136925,...,101.266666,7.038000,299.256000,-345.100000,1.723333,-53405.0,0.406210,NaN,32.192348,7.799555
1307,ID_1308,A,2024-06-11 10:24:59,11,1,0.091802,NaN,413.188888,7.984000,299.555074,...,101.100000,6.938444,299.256000,345.600000,2.140000,-52640.0,0.536421,11.223006,33.880427,8.010555
1308,ID_1309,A,2024-06-11 10:29:14,19,1,0.079826,622726.318425,402.955555,7.913142,299.561357,...,101.211111,7.138444,298.923333,-345.600000,2.233333,-52530.0,4.811631,NaN,33.906614,7.840555

In [6]:
nan_rows_count = df_fdc_remove_missing.iloc[:,5:].isna().all(axis=1).sum()

print(f"모든 값이 NaN인 행의 개수: {nan_rows_count}")

모든 값이 NaN인 행의 개수: 0

In [7]:
# 각 열에서 결측치 개수를 확인
missing_values = df_fdc_remove_missing.isnull().sum()

# 결측치가 있는 열만 필터링
missing_values = missing_values[missing_values > 0]
print(missing_values)

X26_09      469
X51_09      469
X30_03      469
X44_06      469
X27_06      469
X49_05      469
X26_04      469
X53_04      469
X49_02      469
X55_04      851
X49_10      469
X25_03      474
X45_09      469
X28_09      469
X27_09      469
X36_09      469
X50_09      469
X45_06      133
X45_05      139
X25_09      469
X34_09      469
X53_09      469
X47_05      233
X35_06      239
X31_05      249
X31_01      249
X35_05      239
X19_10      253
X35_02      239
X8_10       239
X35_10      239
X35_03      239
X31_03      249
X33_02      249
X41_05      233
X35_01      239
X31_09      500
X31_04      249
X31_06      249
X35_09      491
X31_10      249
X33_03      249
X49_09.1    502
X35_04      239
X38_13      490
dtype: int64

In [8]:
# 결측치가 있는 열들을 제거
df_fdc_remove_missing = df_fdc_remove_missing.drop(columns=missing_values.index)

# 제거 후 남은 열 확인
print("제거 후 남은 열:", df_fdc_remove_missing.columns)

제거 후 남은 열: Index(['ID', 'EQUIP_ID', 'DATE_TIME', 'YVALUE', 'PASS(1)/FAIL(0)', 'X38_05',
       'X30_10', 'X34_02', 'X53_02', 'X52_10',
       ...
       'X39_13', 'X41_13', 'X50_13', 'X53_13', 'X29_13.1', 'X46_13', 'X36_13',
       'X45_13.1', 'X51_13', 'X34_13'],
      dtype='object', length=220)

In [9]:
# 각 열에서 결측치 개수를 확인
missing_values = df_fdc_remove_missing.isnull().sum()

# 결측치가 있는 열만 필터링
missing_values = missing_values[missing_values > 0]
print(missing_values)

Series([], dtype: int64)

In [41]:
from sklearn.ensemble import IsolationForest

# 5번째 열부터 시작하는 수치형 데이터만 선택 (이전과 동일)
df_numeric = df_fdc_remove_missing.iloc[:, 5:]

# Isolation Forest 모델 생성
iso_forest = IsolationForest(contamination=0.05, random_state=42)  # contamination은 이상치 비율을 지정, 여기선 5%로 설정
outlier_predictions = iso_forest.fit_predict(df_numeric.select_dtypes(include=['float64', 'int64']))

# 이상치 탐지 결과: -1은 이상치, 1은 정상 데이터
df_numeric['outlier'] = outlier_predictions

# 이상치 확인 (outlier == -1인 데이터)
outliers = df_numeric[df_numeric['outlier'] == -1]
print(f"탐지된 이상치:\n{outliers}")

# 이상치가 아닌 데이터만 남김 (outlier == 1인 데이터)
df_fdc_remove_outlier_numeric = df_numeric[df_numeric['outlier'] == 1].drop(columns=['outlier'])

# 결과 확인
print(f"이상치 제거 후 남은 데이터:\n{df_fdc_remove_outlier_numeric}")

c:\PROGRAMDATA\ANACONDA3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

탐지된 이상치:
        X38_05      X30_10    X34_02      X53_02        X52_10         X26_01  \
5     0.259604  400.544444  7.877000  299.687928  98333.333333  337831.868499
77    0.158358  414.544444  7.831428  299.646178  97844.444444  403557.796468
182   0.062753  408.577777  7.668592  300.197814  98058.333333   49660.361040
183   0.173376  407.233333  7.784142  300.237285  97966.666666   49666.750048
192   0.134190  402.155555  8.121925  299.701222  97691.666666   30539.505461
219   0.104193  404.844444  7.949851  299.660629  98197.222222   62319.635294
221   0.103923  408.822222  7.792148  300.055740  97883.333333   23329.673756
224   0.141496  400.966666  7.732444  300.218111  98130.555555   33709.149585
225   0.059413  401.355555  7.860928  300.273857  98361.111111   33715.575633
340   0.101121  412.366666  8.053925  299.607851  97638.888888   65680.512758
359   0.041562  408.277777  8.275555  300.096333  97816.666666   24971.268181
465   0.104258  402.555555  8.712571  300.259428  98150.000000   24895.105931
466   0.055485  403.020000  8.731071  300.279000  98107.499999   24901.373450
467   0.065094  407.922222  8.735185  301.620629  98058.333333   33702.230659
468   0.114989  403.144444  8.513925  300.258703  98277.777777   24907.643142
469   0.067271  406.849999  8.765642  300.044142  98045.000000   33708.632550
470   0.130288  402.740000  8.782666  299.893370  97959.999999   24913.957254
471   0.106057  406.566666  8.676428  299.777964  97869.444444   33714.987921
472   0.034062  401.689999  8.581142  299.828857  97982.499999   24920.298441
571   0.156744  412.500000  8.174999  299.789714  97935.000000   19855.197046
573   0.072479  412.966666  8.361071  300.005000  97827.777777   19867.880667
575   0.141035  412.299999  8.159615  300.215769  97950.000000   19873.793213
577   0.080964  412.500000  8.162148  300.055740  97991.666666   19880.129047
661   0.065636  409.144444  7.929259  299.751296  97730.555555   19721.835383
662   0.052386  405.029999  7.835357  300.005000  98035.000000   26365.501204
735   0.070967  404.462500  7.817357  300.083285  98225.000000   83280.204842
736   0.108480  404.333333  7.797785  300.102857  98099.999999   83286.680847
747   0.050322  404.822222  7.784923  300.173615  97961.111111  100378.200666
879   0.063320  404.162500  7.817500  300.181142  98131.250000   76875.130348
950   0.094857  404.811111  8.204428  300.161571  97963.888888   41257.027516
1008  0.081416  412.687499  8.240740  300.035444  97812.500000   20000.824822
1011  0.159881  412.588888  8.353703  300.136925  97786.111111   20012.922846
1014  0.063491  411.588888  8.315851  299.954259  97838.888888   20019.251089
1016  0.068213  412.444444  8.221481  300.096333  97897.222222   20025.141023
1036  0.044816  409.444444  8.319925  300.238407  97938.888888   19771.388867
1037  0.059489  410.488888  8.331071  300.142000  97816.666666   19777.802318
1039  0.057368  410.266666  8.274296  300.096333  97908.333333   19783.651800
1042  0.068470  408.711111  8.383481  300.279000  97869.444444   19790.053332
1044  0.065301  409.666666  8.295500  300.102857  97922.222222   19796.497554
1046  0.098921  413.720000  8.245925  299.994851  97785.000000   18599.349988
1047  0.125518  413.349999  8.414444  300.136925  97840.000000   18605.261715
1049  0.098782  412.411111  8.364370  300.096333  97888.888888   18611.576826
1052  0.151131  412.066666  8.425500  300.083285  97830.555555   18617.427132
1054  0.043706  412.611111  8.210857  300.122428  97894.444444   18623.803170
1090  0.093610  414.888888  8.425615  299.857461  98019.444444   19772.404399
1092  0.039423  413.744444  8.330785  299.985428  97861.111111   19778.795878
1094  0.146310  414.444444  8.329333  299.832481  98288.888888   19785.265796
1096  0.112375  413.211111  8.334074  300.035444  97991.666666   19791.710602
1118  0.067896  402.833333  7.970785  299.828857  97952.777777   30674.368798
1120  0.037026  402.655555  8.039857  299.789714  98197.222222   30680.787809
1196  0.108975  403.922222  8.216296  299.974555  98211.111111   22927.518966
1202  0.140597  402.511111  8.310592  299.832481  98008.333333   62653.232775
1300  0.000000  408.762500  7.917214  299.844499  98103.125000  251358.195781
1306  0.114646  407.970000  7.767259  300.136925  98032.500000  140736.017254

            X36_01     X39_01    X51_10      X55_10  ...      X41_13  \
5    -20929.666666  33.181425  1.490555  186.704722  ...   99.044444
77   -20582.937500  33.527904  1.595444  199.822562  ...   98.988888
182  -23110.125000  32.520697  1.539444   47.972495  ...  101.350000
183  -24608.133333  33.225742  1.499555   47.973623  ...  101.287500
192  -23621.266666  33.584308  1.458444   30.290757  ...  104.125000
219  -24064.142857  33.850210  1.573444   58.170179  ...  103.187500
221  -21982.375000  33.531933  1.413444   20.320602  ...  101.725000
224  -22381.312500  32.311198  1.438666   33.983230  ...  101.287500
225  -21003.562500  32.274939  1.627444   33.984379  ...  101.350000
340  -23908.642857  33.685029  1.445444   60.559883  ...  103.937500
359  -23979.000000  34.059710  1.435000   22.369981  ...  103.285714
465  -22219.933333  32.436092  1.580444   22.278952  ...  103.937500
466  -23174.933333  32.296292  1.495000   22.280085  ...  103.937500
467  -21587.625000  32.444150  1.590444   33.658267  ...  101.975000
468  -23965.692307  33.467472  1.431111   22.281228  ...  103.875000
469  -21428.933333  33.619762  1.550999   33.659424  ...  102.222222
470  -23089.000000  32.267284  1.474000   22.282383  ...  104.000000
471  -21324.466666  33.104877  1.446333   33.660564  ...  102.333333
472  -21282.357142  33.728540  1.505100   22.283483  ...  103.928571
571  -22015.714285  33.510983  1.579900   15.588820  ...  103.500000
573  -22172.928571  33.527904  1.426222   15.591199  ...  103.571428
575  -26999.230769  33.608481  1.662999   15.592389  ...  103.562500
577  -23968.333333  33.713230  1.608444   15.593400  ...  103.500000
661  -24887.071428  33.286175  1.449333   15.467963  ...  104.428571
662  -19477.750000  33.583502  1.271799   24.458033  ...  102.625000
735  -23034.733333  32.393286  1.611999   73.968954  ...  101.975000
736  -21795.200000  32.347458  1.620000   73.970110  ...  101.933333
747  -22569.250000  33.257973  1.414777   87.288542  ...  101.600000
879  -22951.933333  33.666899  1.732000   68.705676  ...  102.037500
950  -21780.500000  33.773663  1.400555   40.624088  ...  102.514285
1008 -24176.399999  34.745617  1.598000   15.562964  ...  103.062500
1011 -23303.785714  34.736553  1.373666   15.564999  ...  103.214285
1014 -23575.499999  34.752668  1.456666   15.566015  ...  103.071428
1016 -23258.133333  34.752668  1.588555   15.567032  ...  103.125000
1036 -23410.928571  34.772812  1.618555   15.507113  ...  102.585714
1037 -22793.714285  34.756697  1.460999   15.508461  ...  102.762500
1039 -24675.285714  34.728495  1.533777   15.509482  ...  102.800000
1042 -23691.692307  34.740581  1.538666   15.510496  ...  102.728571
1044 -22497.357142  34.796985  1.523888   15.511519  ...  102.857142
1046 -23211.666666  33.830066  1.504099   13.319639  ...  103.187500
1047 -23128.066666  33.830066  1.510000   13.320651  ...  103.000000
1049 -23568.357142  33.826038  1.549444   13.321665  ...  103.000000
1052 -22699.928571  34.079854  1.459555   13.322688  ...  103.000000
1054 -22754.928571  34.027479  1.562555   13.324200  ...  103.000000
1090 -23493.666666  34.869504  1.624000   15.535751  ...  103.187500
1092 -23281.714285  34.913821  1.392777   15.537022  ...  103.187500
1094 -25177.071428  34.901735  1.679666   15.538296  ...  103.312500
1096 -24850.714285  34.925908  1.564444   15.539317  ...  103.375000
1118 -21415.928571  34.087911  1.456555   30.423112  ...  103.249999
1120 -22500.285714  34.136257  1.539444   30.424135  ...  103.285714
1196 -23951.785714  34.857417  1.486555   20.043601  ...  103.555555
1202 -24563.428571  34.913821  1.571222   58.085445  ...  103.250000
1300 -21159.200000  33.666899  1.676999  167.552216  ...  100.266666
1306 -23744.214285  32.154880  1.519000  119.076070  ...  101.266666

        X50_13      X53_13    X29_13.1    X46_13   X36_13  X45_13.1  \
5     6.926000  298.895611  344.066666  2.830000 -53405.0  4.559937
77    6.926000  298.408888  343.483333  2.406666 -53405.0  7.214125
182   6.926000  299.021176  343.517647  2.361176 -53405.0  4.592500
183   6.926000  299.138588 -344.982352  3.127058 -53405.0  1.989111
192   7.151000  299.256000 -345.600000  2.163529 -52530.0  3.206499
219   7.151000  298.757000 -345.600000  2.827058 -52530.0  1.989333
221   6.926000  299.395705 -345.247058  1.972941 -53405.0  2.994944
224   6.926000  298.815705 -344.894117  3.292941 -53405.0  4.897055
225   6.926000  299.197294  343.958823  2.085882 -53405.0  1.240611
340   6.926000  299.256000  345.600000  1.835294 -52640.0  1.445388
359   7.038000  299.731000  344.400000  1.728750 -52585.0  1.612529
465   7.091176  299.256000  344.400000  2.354117 -52800.0  3.374055
466   7.111117  299.256000 -347.100000  1.739999 -52800.0  3.412500
467   7.038000  299.763235 -344.717647  1.644705 -53405.0  5.917333
468   7.124411  299.226647  344.400000  3.342352 -52800.0  3.302888
469   7.038000  299.256000  343.650000  2.756666 -53405.0  2.012526
470   7.124411  299.256000 -347.100000  2.248235 -52800.0  2.474055
471   7.038000  299.200555 -344.849999  2.243333 -53405.0  2.309736
472   7.113333  299.256000  344.400000  0.383999 -52800.0  3.366000
571   7.215125  299.256000 -345.600000  0.678750 -52215.0  1.115611
573   7.249800  299.256000 -345.600000  0.268000 -52215.0  3.054941
575   7.231470  299.256000  344.400000  3.000000 -52215.0  3.059111
577   7.238176  299.283941 -345.600000  2.481176 -52215.0  3.059222
661   7.045062  299.224812  344.400000  2.216250 -52800.0  0.970294
662   7.038000  299.256000  344.047058  2.279999 -53405.0  3.122000
735   7.038000  299.193625  343.556249  0.127499 -53405.0  2.213666
736   7.038000  299.256000 -345.016666  2.570000 -53405.0  2.156263
747   7.038000  299.651833 -345.100000  3.456666 -53405.0  0.654578
879   7.038000  299.701312 -344.943750  0.341250 -53405.0  0.774000
950   7.265000  298.788187  344.400000  1.537499 -52215.0  5.132529
1008  7.251588  299.256000  344.611764  3.042352 -52663.0  2.750944
1011  7.257400  299.256000  344.479999  0.227999 -52663.0  1.974647
1014  7.249800  299.256000 -347.100000  0.336000 -52663.0  3.070705
1016  7.251588  299.256000  344.541176  3.049411 -52663.0  2.248833
1036  7.265000  299.256000  344.479999  0.296000 -52663.0  0.654058
1037  7.258294  299.256000 -347.100000  1.810588 -52663.0  3.068722
1039  7.265000  299.256000  344.625000  1.916250 -52663.0  3.162647
1042  7.265000  299.256000 -347.100000  1.770000 -52663.0  0.453882
1044  7.265000  299.256000  344.625000  1.942500 -52663.0  3.108588
1046  7.251588  299.167941  344.470588  2.488235 -52663.0  3.187500
1047  7.251588  299.256000 -347.100000  2.050588 -52663.0  1.849222
1049  7.251588  299.256000  344.470588  3.575294 -52663.0  2.455333
1052  7.265000  299.256000 -347.100000  2.730000 -52663.0  1.773588
1054  7.243625  299.285687  344.550000  1.867500 -52663.0  1.831882
1090  7.151000  299.256000 -347.100000  2.188235 -52809.0  1.978277
1092  7.151000  299.563352  344.470588  1.785882 -52809.0  0.881444
1094  7.151000  299.731000 -347.100000  2.040000 -52809.0  0.689666
1096  7.151000  299.647176  344.400000  3.222352 -52809.0  1.885166
1118  7.151000  299.703058  344.400000  2.015294 -52530.0  1.695555
1120  7.151000  299.731000 -345.600000  1.604999 -52530.0  1.796470
1196  7.151000  299.731000  344.666666  2.660000 -52809.0  1.615052
1202  7.137705  299.731000  344.964705  2.509411 -52809.0  0.585111
1300  7.038000  298.489222 -344.766666  1.960000 -53405.0  2.304842
1306  7.038000  299.256000 -345.100000  1.723333 -53405.0  0.406210

         X51_13    X34_13  outlier
5     33.529919  7.925111       -1
77    33.578265  7.746777       -1
182   32.887321  7.746823       -1
183   33.194460  7.714235       -1
192   33.510130  7.903647       -1
219   33.868459  7.922588       -1
221   33.484535  7.695647       -1
224   32.290106  7.697176       -1
225   32.313568  7.876352       -1
340   34.137205  7.776705       -1
359   34.036292  8.344125       -1
465   32.439410  8.695529       -1
466   32.334897  8.922235       -1
467   32.486334  8.849647       -1
468   33.200858  8.709294       -1
469   33.614524  8.627111       -1
470   32.300771  8.723647       -1
471   32.194362  8.730555       -1
472   33.733374  8.642133       -1
571   33.655568  8.178750       -1
573   33.854239  8.300799       -1
575   33.876990  8.346588       -1
577   33.879123  8.156117       -1
661   33.530926  7.907250       -1
662   33.582649  7.707764       -1
735   32.366091  7.811750       -1
736   32.363573  7.765222       -1
747   33.352650  7.752111       -1
879   33.687295  7.640249       -1
950   33.753015  8.348750       -1
1008  34.728021  8.325294       -1
1011  34.707545  8.325199       -1
1014  34.731718  8.307466       -1
1016  34.730154  8.426705       -1
1036  34.736553  8.476000       -1
1037  34.730154  8.322470       -1
1039  34.745617  8.215000       -1
1042  34.736553  8.290125       -1
1044  34.926915  8.132249       -1
1046  33.836465  8.296823       -1
1047  33.815136  8.364823       -1
1049  33.836465  8.347294       -1
1052  33.993234  8.315374       -1
1054  34.047623  8.342875       -1
1090  34.902919  8.347647       -1
1092  34.898654  8.326588       -1
1094  34.890122  8.286352       -1
1096  34.915717  8.520941       -1
1118  34.098813  7.934352       -1
1120  34.136005  7.844125       -1
1196  34.917850  8.360666       -1
1202  34.909318  8.422705       -1
1300  33.274088  7.828000       -1
1306  32.192348  7.799555       -1

[54 rows x 216 columns]
이상치 제거 후 남은 데이터:
        X38_05      X30_10    X34_02      X53_02        X52_10         X26_01  \
0     0.121411  409.088888  8.047076  299.983923  97730.555555  282038.263905
1     0.061222  405.624999  7.883037  299.832481  98018.750000  473591.279871
2     0.176816  404.300000  7.817357  299.687928  98218.750000  485632.131896
3     0.083624  411.833333  7.992666  299.689037  97527.777777  294244.397053
4     0.101859  403.200000  7.950222  300.177518  97947.222222  448464.988731
...        ...         ...       ...         ...           ...            ...
1301  0.061466  413.977777  8.714148  299.924481  97772.222222  582612.664849
1302  0.071052  414.009999  8.883185  299.919074  97762.500000  582619.090631
1303  0.097651  407.566666  7.685615  300.068230  97961.111111  140729.416027
1307  0.091802  413.188888  7.984000  299.555074  97611.111111  384011.589682
1308  0.079826  402.955555  7.913142  299.561357  98030.555555  622719.904858

            X36_01     X39_01    X51_10      X55_10  ...    X39_13  \
0    -22976.933333  34.196690  1.569555  179.013043  ...  2.553611
1    -23178.066666  34.138272  1.619000  207.542020  ...  2.485882
2    -22453.000000  33.956974  1.803124  209.699462  ...  2.477777
3    -24883.214285  33.950931  1.506333  181.173476  ...  2.544166
4    -26053.357142  33.741432  1.498666  208.639360  ...  2.519166
...            ...        ...       ...         ...  ...       ...
1301 -23841.142857  33.854239  1.575444  229.003050  ...  2.536944
1302 -24767.857142  33.844570  1.521000  229.004068  ...  2.544166
1303 -22954.933333  32.198391  1.509444  119.074881  ...  2.480555
1307 -23447.066666  33.878412  1.438777  192.644605  ...  2.556388
1308 -22369.428571  33.878412  1.573444  235.675854  ...  2.461388

          X41_13    X50_13      X53_13    X29_13.1    X46_13   X36_13  \
0     101.877777  6.926000  299.625444 -346.516666  2.343333 -52640.0
1     101.662500  7.137705  299.731000 -345.600000  2.050588 -52530.0
2     101.488888  7.119611  299.145111 -345.600000  2.213333 -52530.0
3     101.600000  6.926000  299.145111  345.600000  2.253333 -52640.0
4     103.222222  7.038000  299.256000  344.400000  3.503333 -52800.0
...          ...       ...         ...         ...       ...      ...
1301  100.711111  7.019333  299.256000 -346.766666  2.083333 -52640.0
1302  100.600000  7.019333  299.256000  345.600000  2.340000 -52640.0
1303  101.322222  7.038000  299.387944  343.566666  2.913333 -53405.0
1307  101.100000  6.938444  299.256000  345.600000  2.140000 -52640.0
1308  101.211111  7.138444  298.923333 -345.600000  2.233333 -52530.0

      X45_13.1     X51_13    X34_13
0     0.208187  34.194675  8.101333
1     1.682933  34.120142  7.915882
2     1.293624  33.942874  7.911555
3     1.878500  33.977119  8.106444
4     2.747937  33.745461  8.043777
...        ...        ...       ...
1301  0.557315  33.850210  9.016111
1302  0.523473  33.838124  9.031333
1303  2.864315  32.204434  7.819666
1307  0.536421  33.880427  8.010555
1308  4.811631  33.906614  7.840555

[1012 rows x 215 columns]

In [42]:
df_final = pd.concat([df_fdc_remove_missing.iloc[:,:5], df_fdc_remove_outlier_numeric], axis=1)

df_final = df_final[~df_final['ID'].isin(['ID_1231', 'ID_1233', 'ID_1239', 'ID_1241', 'ID_1244', 'ID_1245'])]

In [38]:
import os

# 이미지 폴더 경로와 DataFrame에서 파일명을 가져오는 부분
image_folder = './data/image'
image_ids = df_final['ID']  # DataFrame의 'id' 컬럼에 있는 파일명 리스트

# 이미지 파일명 리스트 생성 함수
def get_image_filenames(image_folder, image_ids):
    image_filenames = []
    for image_id in image_ids:
        image_path = os.path.join(image_folder, f"{image_id}.png")  # 확장자는 파일에 맞게 수정
        if os.path.exists(image_path):  # 파일이 존재하는지 확인
            image_filenames.append(image_path)  # 이미지 경로를 리스트에 추가
        else:
            print(f"파일을 찾을 수 없습니다: {image_id}")
    return image_filenames

# 파일명 리스트 불러오기
image_filenames = get_image_filenames(image_folder, image_ids)

# 결과 확인: 불러온 파일명 리스트 출력
print(len(image_filenames))

1060

In [45]:
import cv2
import numpy as np

def load_images(image_folder):
    images = []
    for img_path in image_filenames:
        img = cv2.imread(img_path, cv2.IMREAD_GRAYSCALE)  # 흑백 이미지 로드
        img = cv2.resize(img, (128, 128))  # 이미지 크기 조정
        images.append(img)
    return np.array(images)

image_folder = './data/image'
wafer_images = load_images(image_folder)

In [ ]:
# 장비 센서 데이터 로드
sensor_data = df_fdc_remove_outlier_numeric  # 센서 데이터 불러오기
sensor_data = sensor_data.fillna(0)  # 결측치 처리
sensor_data_scaled = (sensor_data - sensor_data.mean()) / sensor_data.std()  # 데이터 스케일링